@font-face {
  font-family: 'fg_rakelregular';
  src: url('../fonts/fg_rakel_regular-webfont.woff2') format('woff2'),
       url('../fonts/fg_rakel_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
}

#portfolio, #contact-links {
    height: 600px;
}

/****** GRID ******/

.full-width {
  margin: 0 auto;
  width: 1200px;
}

.half-width {
  float: left;
  width: 600px;
}

.third-width {
  float: left;
  width: 375px;
}

/****** NAV ******/

nav {
  float: right;
  padding: 0 45px 0 25px
}

nav ul li{
  display: inline-block;
}

nav ul li a {
  color: #828282;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  padding-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

/****** Portfolio ******/

#portfolio {
  background-color: #e1dcd8;
  height: 2200px;
  text-align: left;
}

#portfolio .full-width {
  padding: 40px 0;
}

h1 {
  color: #828282;
  font-family: "fg_rakelregular";
  font-size: 38px;
  padding: 0 0 65px 60px;
}

#portfolio h2 {
  color: #828282;
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 0 20px 50px;
  text-align: left;
  text-transform: uppercase;
}

p {
  color: #828282;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 0 0 40px 50px;
  line-height: 25px;
}

#portfolio h3 {
  color: #828282;
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 275px;
}

#portfolio ul li {
  color: #828282;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 28px;
  list-style-type: none;
}

/****** CONTACT LINKS ******/

#contact-links {
  background-color: #f4f4f4;
  height: 300px;
  text-align: left;
}

#contact-links .third-width {
  padding: 40px 0;
}

#contact-links h2 {
  color: #828282;
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 30px 0 20px 50px;
  text-transform: uppercase;
}

#contact-links h2 span {
  color: #828282;
  font-style: italic;
  text-transform: lowercase;
}

#contact-links h3 {
  color: #828282;
  font-family: 'Cormorant Garamond', serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 275px;
}

#contact-links h4 {
  color: #828282;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 275px;
}

#contact-links a {
  text-decoration: none;
}
